In [29]:
import pandas as pd
import Funpat

stocknames = ['S_Mobarakeh.Steel','Arya.Sasol.Polymer']
for i in stocknames:
    stockpath = 'Stock/'+i+'.csv' 
    data = pd.read_csv(stockpath)
    
    break

In [30]:
T=[1,2]

In [31]:
Funpat.Flen(T)

AttributeError: module 'Funpat' has no attribute 'Flen'

In [32]:
data.head()

,<TICKER>,<DTYYYYMMDD>,<FIRST>,<HIGH>,<LOW>,<CLOSE>,<VALUE>,<VOL>,<OPENINT>,<PER>,<OPEN>,<LAST>
0,S*Mobarakeh.Steel,20220813,5520.0,5850.0,5500.0,5780.0,864611493990,149535604,9910,D,5520.0,5810.0
1,S*Mobarakeh.Steel,20220810,5590.0,5600.0,5480.0,5520.0,542781015750,98255194,8348,D,5460.0,5520.0
2,S*Mobarakeh.Steel,20220809,5470.0,5500.0,5390.0,5460.0,692060828940,126831611,6913,D,5240.0,5500.0
3,S*Mobarakeh.Steel,20220731,10830.0,11370.0,10690.0,11170.0,1661850318610,148767350,13410,D,11040.0,11350.0
4,S*Mobarakeh.Steel,20220730,10980.0,11170.0,10840.0,11040.0,540332728400,48954520,6181,D,10930.0,10890.0

In [33]:
data = pd.read_csv('GOOG.csv')

In [40]:
x = data.loc[0][:]

In [42]:
x['Open']

272.274445